<div class = "main-styles">
	<p>Welcome to SymSolar!</p>
	<p>We provide a marketplace to allow lenders, builders, buyers, and renters to find solar solutions for their needs.</p>
	<div class="curves">
		<img ng-src="images/normalized.png" alt="Curve">
		<p class="subheading">Model predictions for solar capacity</p>
	</div>
	<div class = "dropdown">
		<p>Get more information!</p>
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">User Type
			<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="#/dashboard">Lender</a></li>
			<li><a href="#/dashboard">Home Owner</a></li>
			<li><a href="#/dashboard">Renter</a></li>
			<li><a href="#/dashboard">Builder</a></li>
		</ul>
	</div>
</div>